/node_modules
/public/*
/public
/public/hot
/public/storage
/public/images
/public/css
/public/js
/public/fonts
/storage/*.key
/vendor
/resource.zip
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/database.php
/nbproject
/nbproject/private/
/composer.lock
public/mix-manifest.json
.idea/
config/app.php
package-lock.json


